
<div id="cabecero">
    
    <app-menu-izquierda 
        class="h3">

    </app-menu-izquierda>
   
    <div style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" 
        preserveAspectRatio="none" 
        style="height: 100%; width: 100%;">
            <path d="M0.00,4.45 C235.89,204.77 341.42,-66.61 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" 
                style="stroke: none; fill: white;">
            </path>
        </svg>
    </div>
</div> 


<div>
    <section id="section-1">
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
        , and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        Why do we use it?
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
         The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
        evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </section>
    <section id="section-2">
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
         book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially un
         changed. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
         recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        
        Why do we use it?
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its lay
        out. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'C
        ontent here, content here', making it look like readable English. Many desktop publishing packages and web page editors 
        now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in thei
        r infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </section>

    <section id="section-3">
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard du
        my text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
         It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
         with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        
        Why do we use it?
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content her
        e, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem I
        psum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various ve
        rsions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </section>
</div>

