/* You can add global styles to this file, and also import other style files */
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: url(assets/imagenes/18710.JPG);
    background-size: 100%;
    
    color: black;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smoothing;

  }
  html::-webkit-scrollbar{
    width: 10px;
  }
  html::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 5px;
  }
  
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }
  #section-1{
    background: white;
    padding-bottom: 500px;
    
}
#section-2{
  background: green;
  padding-bottom: 500px;
}
#section-3{
  background: rgb(0, 255, 170);
  padding-bottom: 500px;
}
#imagenHeader{
  width: 100px;
  height: 400px;
}
#cabecero{
  padding-top: 40%;
}
